{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <h3 style="text-align: center; margin-top: 1%"> Welcome to electric motor energy saver! </h3>
    <div style="background-color: lightgray; width: 350px; height: 400px;
    border: 4px solid navy; border-radius: 20px; position: relative; margin-left: 2%; margin-top: 2%">
        <form method="post" style="align-content: center;margin-top: 10% ; margin-left: 10%">
            {% csrf_token %}
            {{ form.as_p }}
            <h6 style="margin-top: 20%">To make a motor efficiency calculation please "Login" or "Sign up" first!</h6>
            <a class="btn btn-sm btn-secondary" href="{% url 'create_user' %}" style="margin-left: 9%; margin-top: 10%">
                Sign up</a>
            <button type="submit" class="btn btn-sm btn-success" style="margin-top: 10%">Login</button>
            <a class="btn btn-sm btn-primary" href="{% url 'password_reset' %}" style="margin-top: 10%">Reset
                password</a>
        </form>
    </div>
{% endblock %}