{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-danger">Reset password</button>
        <a class="btn btn-sm btn-secodary" href="{% url 'login' %}">Cancel</a>
    </form>

{% endblock %}