{% extends 'base.html' %}
{% block title %}Password reset confirmation{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-primary">Change password</button>
    </form>
{% endblock %}