<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .color {
            color: red;
            font-weight: bold;
        }

        .table {
            border: 1px solid black;
        }
    </style>

</head>
<body>
<h3> List of savings </h3>
<table class="table">
    <thead>
    <tr>
        <th class="color">
            Old_motor_id
        </th>
        <th>
            Live_time_new_motor_energy
        </th>
    </tr>
    </thead>
    <tbody>
    {% for saving in all_savings %}
        <tr>
            <td>{{ saving.old_motor_id_savings }}</td>
            <td>{{ saving.live_time_new_motor_energy }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>