{% extends 'base.html' %}
{% block title %} Savings and commercial data {% endblock %}
{% block content %}
    <form method="post" style=" margin-top: 5px;">
        <div style="border:solid;height: 98px">
            <div style="display:table; float: left; width: 50%">
                {% csrf_token %}
                {{ form.energy_price }}
                {{ form.operating_hours_day }}
                {{ form.operating_days_year }}
            </div>
            <div style="display:table; margin-left: 60%; width: 50%">
                {% csrf_token %}
                {{ form.live_time_years }}
                <p class="list-group-item" style="height: 32px; width: 80%; opacity: 70%; border-color:grey;
                    text-align: left;">Calculated operating hours/year: {{ operating_hours_year }}</p>
            </div>
        </div>

        <div style="border:solid;">
            <div style="width: 100%; display: table; height: 100px;margin-top: 5px">

                <div class="card" style="float: left; width: 40%;opacity: 70%;">
                    <img src="../../static/images/OldMotor.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Old motor</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Energy/year [kWh]: {{ old_motor_energy_year }}</li>
                        <li class="list-group-item">Energy/{{ live_time_years }} years
                            [kWh]: {{ live_time_old_motor_energy }}</li>
                        <li class="list-group-item">Energy price /year [EUR]: {{ old_motor_energy_price_year }}</li>
                        <li class="list-group-item">Energy price /{{ live_time_years }} years
                            [EUR]: {{ live_time_old_motor_energy_price }}</li>
                        <li class="list-group-item">Maintenance [EUR]:</li>

                        <label>
                            <input type="text" name="old_motor_maintenance_price" class="list-group-item" style="margin-top: -42px;
                        margin-left: 170px; width: 35%;float: right " placeholder="Maintenance [EUR]">
                        </label>
                        <li class="list-group-item"> -
                        </li>
                        <li class="list-group-item"> -
                        </li>

                        <li class="list-group-item">Total costs/{{ live_time_years }} years
                            [EUR]: {{ live_time_old_motor_energy_price }}</li>

                    </ul>
                    <div class="card-body">
                        <a href="https://www.afacerist.ro/f:eltrans" class="card-link">Get maintenance for your old
                            motor</a>
                    </div>
                </div>

                <div class="card" style=" float: right; width: 40%; opacity: 70%;">
                    <img src="../../static/images/NewMotor.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">New motor</h5>
                        <p class="card-text"></p>
                    </div>
                    <ul class="list-group list-group-flush">

                        <li class="list-group-item">Energy/year [kWh]: {{ new_motor_energy_year }}</li>
                        <li class="list-group-item">Energy/{{ live_time_years }} years
                            [kWh]: {{ live_time_new_motor_energy }}</li>
                        <li class="list-group-item">Energy price /year [EUR]: {{ new_motor_energy_price_year }}</li>
                        <li class="list-group-item">Energy price /{{ live_time_years }} years
                            [EUR]: {{ live_time_new_motor_energy_price }}</li>
                        <li class="list-group-item">Motor List price [EUR]: {{ new_motor_list_price }}</li>
                        <li class="list-group-item">Discount [%]:</li>
                        <label>
                            <input type="text" name="price_discount" class="list-group-item" style="margin-top: -42px;
                        margin-left: 136px;width: 50%;float:right; " placeholder="Insert a discount in %">
                        </label>
                        <li class="list-group-item">Customer price [EUR]: {{ customer_price }}</li>
                        <li class="list-group-item">Total costs/{{ live_time_years }} years
                            [EUR]: {{ live_time_new_motor_energy_price }}</li>
                    </ul>
                    <div class="card-body">
                        <a href="https://new.siemens.com/global/en/general/contact.html" class="card-link">Get a good
                            price
                            for your motor!</a>
                    </div>
                </div>
            </div>
            <div class="card border-success mb-3" style="width: 100%; opacity: 70%; float: bottom">
                <div class="card-header bg-transparent border-success">
                    <b>Savings by replacing the Old motor with the New motor</b>
                    <button type="submit" class="btn btn-sm btn-success" style="width: 100%; border-color: black;"
                            onclick="this.style.display='none'">Calculate savings
                    </button>
                </div>
                <div class="card-body text-success">
                    <h5 class="card-title">Expected amortization time</h5>
                    <p class="card-text">Amortization [years]: {{ roi_time_years }}</p>
                    <p class="card-text">Total savings in {{ live_time_years }} years [EUR] after
                        ROI: {{ saved_money_live_time }}</p>
                    <p class="card-text">CO2 emissions savings in {{ live_time_years }} years
                        [kg]: {{ co2_savings_life_time }}</p>
                </div>
            </div>
        </div>
    </form>


{% endblock %}