{% extends 'base.html' %}
{% block title %} Savings and commercial data {% endblock %}
{% block content %}
    <form method="post" style=" margin-top: 5px;">
        <div style="border:solid;height: 98px">
            <div style="display:table; float: left; width: 50%">
                {% csrf_token %}

                {% for compatible_saving in compatible_savings_data %}
                    <p class="list-group-item"
                       style="height: 30px; width: 80%; opacity: 70%; border-color: grey; text-align: left;">Energy
                        price [EUR/kWh]: {{ compatible_saving.energy_price }}</p>
                    <p class="list-group-item"
                       style="height: 30px; width: 80%; opacity: 70%; border-color: grey; text-align: left; margin-top: -15px">
                        Operating hours/day: {{ compatible_saving.operating_hours_day }}</p>
                    <p class="list-group-item"
                       style="height: 30px; width: 80%; opacity: 70%; border-color: grey; text-align: left;margin-top: -15px">
                        Operating days/year: {{ compatible_saving.operating_days_year }}</p>
                    </div>
                    <div style="display:table; margin-left: 60%; width: 50%">
                        {% csrf_token %}
                        <p class="list-group-item"
                           style="height: 30px; width: 80%; opacity: 70%; border-color: grey; text-align: left;">Live
                            time in years: {{ compatible_saving.live_time_years }}
                        <p class="list-group-item" style="height: 30px; width: 80%; opacity: 70%; border-color:grey;
                    text-align: left;margin-top: -15px">Operating
                            hours/year: {{ compatible_saving.operating_hours_year }}</p>
                    </div>
                    </div>

                    <div style="border:solid;">
                    <div style="width: 100%; display: table; height: 100px;margin-top: 5px">

                        <div class="card" style="float: left; width: 40%;opacity: 70%;">
                            <img src="../../static/images/OldMotor.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Old motor</h5>
                                <p class="card-text"></p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Energy/year
                                    [kWh]: {{ compatible_saving.old_motor_energy_year }}</li>
                                <li class="list-group-item">Energy/{{ compatible_saving.live_time_years }} years
                                    [kWh]: {{ compatible_saving.live_time_old_motor_energy }}</li>
                                <li class="list-group-item">Energy price /year
                                    [EUR]: {{ compatible_saving.old_motor_energy_price_year }}</li>
                                <li class="list-group-item">Energy price /{{ compatible_saving.live_time_years }} years
                                    [EUR]: {{ compatible_saving.live_time_old_motor_energy_price }}</li>
                                <li class="list-group-item">Maintenance
                                    [EUR]: {{ compatible_saving.old_motor_maintenance_price }}</li>


                                <li class="list-group-item"> -
                                </li>
                                <li class="list-group-item"> -
                                </li>

                                <li class="list-group-item">Total costs/{{ compatible_saving.live_time_years }} years
                                    [EUR]: {{ compatible_saving.live_time_old_motor_energy_price }}</li>


                            </ul>
                            <div class="card-body">
                                <a href="https://www.afacerist.ro/f:eltrans" class="card-link">Get maintenance for old
                                    motors</a>

                            </div>


                        </div>

                        <div class="card" style=" float: right; width: 40%; opacity: 70%;">
                            <img src="../../static/images/NewMotor.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">New motor</h5>
                                <p class="card-text"></p>
                            </div>
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">Energy/year
                                    [kWh]: {{ compatible_saving.new_motor_energy_year }}</li>
                                <li class="list-group-item">Energy/{{ compatible_saving.live_time_years }} years
                                    [kWh]: {{ compatible_saving.live_time_new_motor_energy }}</li>
                                <li class="list-group-item">Energy price /year
                                    [EUR]: {{ compatible_saving.new_motor_energy_price_year }}</li>
                                <li class="list-group-item">Energy price /{{ compatible_saving.live_time_years }} years
                                    [EUR]: {{ compatible_saving.live_time_new_motor_energy_price }}</li>
                                <li class="list-group-item">Motor List price
                                    [EUR]: {{ compatible_saving.new_motor_list_price }}</li>
                                <li class="list-group-item">Discount [%]: {{ compatible_saving.price_discount }}</li>
                                <li class="list-group-item">Customer price
                                    [EUR]: {{ compatible_saving.customer_price }}</li>
                                <li class="list-group-item">Total costs/{{ compatible_saving.live_time_years }} years
                                    [EUR]: {{ compatible_saving.new_motor_total_costs_in_live_time }}</li>


                            </ul>
                            <div class="card-body">
                                <a href="https://new.siemens.com/global/en/general/contact.html" class="card-link">Get a
                                    good
                                    price for your motor!</a>
                            </div>
                        </div>

                    </div>

                    <div class="card border-success mb-3" style="width: 100%; opacity: 70%; float: bottom">
                    <div class="card-header bg-transparent border-success">
                        <b>Savings by replacing the Old motor with the New motor</b>

                    </div>

                    <div class="card-body text-success" style="display: table">
                    <h5 class="card-title">Expected amortization time</h5>
                    <p class="card-text">Amortization [years]: {{ compatible_saving.roi_time_years }}</p>
                    <p class="card-text">Total savings in {{ compatible_saving.live_time_years }} years [EUR]
                        after
                        ROI: {{ compatible_saving.saved_money_live_time }}</p>
                    <p class="card-text">CO2 emissions savings in {{ compatible_saving.live_time_years }} years
                        [kg]: {{ compatible_saving.co2_savings_life_time }}</p>

{#                    <div style="display:table; float:left; width: 50%;">#}
                        <div id="curve_chart"style="width: 100%; height: 500px; border: solid black;
                        position: center;zoom:unset"> </div>


                    </div>
                    <div style="display:table; float: left; width: 100%">
                        <a class="btn btn-sm btn-warning" href="{% url 'view_list_old_motors' %}"
                           style="width: 50%; border-color: black;">Return to old motor list</a>
                        <a class="btn btn-sm btn-success"
                           href="{% url 'generate_pdf_savings' compatible_saving.old_motor_id_savings %}"
                           style="width:50%;border-color: black">Export as pdf</a>

{#                    </div>#}

                {% endfor %}
                </div>
                </div>
                </div>
    </form>


    {# Amotrization graphic  #}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        let data = google.visualization.arrayToDataTable({{ data_json1|safe }});

        let options = {
          title: 'Amortization graph',
          curveType: 'function',
          legend: { position: 'bottom' },
          hAxis:{title: 'Time [Years]'},
          vAxis:{title: 'Costs [EUR]'},
        };

        let chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>



{% endblock %}