{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>

</head>
<body>
<h1 style="text-align:center;"> Efficiency comparison between {{ old_motor_savings.motor_order_code }}
    and {{ new_motor_savings.article_no }} </h1>
<div class="container">
    <div class="container-fluid">
        {% block content %}
            <form method="post" style=" margin-top: 5px;">
                <div style="border:solid;height: 98px">
                    <div style="display:table; float: left; width: 50%">
                        {% csrf_token %}
                        <p class="list-group-item"
                           style="height: 30px; width: 80%; opacity: 70%; border-color: black; text-align: left; font-size: large;">
                            Energy
                            price [EUR/kWh]: {{ details_savings.energy_price }}</p>
                        <p class="list-group-item"
                           style="height: 30px; width: 80%; opacity: 70%; border-color: black; text-align: left; margin-top: -15px; font-size: large;">
                            Operating hours/day: {{ details_savings.operating_hours_day }}</p>
                        <p class="list-group-item"
                           style="height: 30px; width: 80%; opacity: 70%; border-color: black; text-align: left;margin-top: -15px; font-size: large;">
                            Operating days/year: {{ details_savings.operating_days_year }}</p>
                    </div>
                    <div style="display:table; margin-left: 60%; width: 50%">
                        {% csrf_token %}
                        <p class="list-group-item"
                           style="height: 30px; width: 80%; opacity: 70%; border-color: black; text-align: left;font-size: large;">
                            Live
                            time in years: {{ details_savings.live_time_years }}
                        <p class="list-group-item" style="height: 30px; width: 80%; opacity: 70%; border-color:black;
                    text-align: left;margin-top: -15px; font-size: large;">Operating
                            hours/year: {{ details_savings.operating_hours_year }}</p>
                    </div>
                </div>
                <div style="border:solid;">
                    <div style="width: 100%; display: table; height: 100px;margin-top: 5px">

                        <div class="card" style="float: left; width: 40%;opacity: 70%;">
                            <img src="../../static/images/OldMotor.png" class="card-img-top" alt="...">
                            <table class="table" style="border-color: black;">
                                <thead style="height: 30px;">
                                <tr>
                                    <th>
                                        <h2>Old motor order code: {{ old_motor_savings.motor_order_code }}</h2>
                                    </th>
                                    <th>
                                        <h2>New motor order code: {{ new_motor_savings.article_no }}</h2>
                                    </th>
                                </tr>

                                </thead>

                                <tbody style="height: 30px; font-size: large; text-align: center;">
                                <tr>
                                    <td>Energy/year
                                        [kWh]: {{ details_savings.old_motor_energy_year }}
                                    </td>
                                    <td>
                                        Energy/year
                                        [kWh]: {{ details_savings.new_motor_energy_year }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Energy/{{ details_savings.live_time_years }} years
                                        [kWh]: {{ details_savings.live_time_old_motor_energy }}
                                    </td>
                                    <td>
                                        Energy/{{ details_savings.live_time_years }} years
                                        [kWh]: {{ details_savings.live_time_new_motor_energy }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Energy price /year
                                        [EUR]: {{ details_savings.old_motor_energy_price_year }}
                                    </td>
                                    <td>
                                        Energy price /year
                                        [EUR]: {{ details_savings.new_motor_energy_price_year }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Energy price /{{ details_savings.live_time_years }} years
                                        [EUR]: {{ details_savings.live_time_old_motor_energy_price }}
                                    </td>
                                    <td>
                                        Energy price /{{ details_savings.live_time_years }} years
                                        [EUR]: {{ details_savings.live_time_new_motor_energy_price }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Maintenance
                                        [EUR]: {{ details_savings.old_motor_maintenance_price }}
                                    </td>
                                    <td>
                                        Motor List price
                                        [EUR]: {{ details_savings.new_motor_list_price }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        Discount [%]: {{ details_savings.price_discount }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        Customer price
                                        [EUR]: {{ details_savings.customer_price }}
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Total costs/{{ details_savings.live_time_years }} years
                                        [EUR]: {{ details_savings.live_time_old_motor_energy_price }}
                                    </td>
                                    <td>
                                        Total costs/{{ details_savings.live_time_years }} years
                                        [EUR]: {{ details_savings.live_time_new_motor_energy_price }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="https://www.afacerist.ro/f:eltrans" class="card-link">Get maintenance
                                            for old
                                            motors</a>
                                    </td>
                                    <td>
                                        <a href="https://new.siemens.com/global/en/general/contact.html"
                                           class="card-link">Get a good
                                            price for your motor!</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card" style=" float: right; width: 40%; opacity: 70%;">
                            <img src="../../static/images/NewMotor.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h2 class="card-title"></h2>
                                <p class="card-text"></p>
                            </div>
                        </div>

                    </div>
                    <div class="card border-success mb-3" style="width: 100%; opacity: 70%; float: bottom">
                        <div class="card-header bg-transparent border-success" style="font-size: large;">
                            <b>Savings by replacing the Old motor with the New motor</b>
                        </div>
                        <div class="card-body text-success">
                            <h5 class="card-title" style="font-size: large;">Expected amortization time</h5>
                            <p class="card-text" style="font-size: large;">Amortization
                                [years]: {{ details_savings.roi_time_years }}</p>
                            <p class="card-text" style="font-size: large;">Total savings
                                in {{ details_savings.live_time_years }} years [EUR] after
                                ROI: {{ details_savings.saved_money_live_time }}</p>
                            <p class="card-text" style="font-size: large;">CO2 emissions savings
                                in {{ details_savings.live_time_years }} years
                                [kg]: {{ details_savings.co2_savings_life_time }}</p>
                        </div>


                    </div>
                </div>
            </form>


        {% endblock %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
</html>