{% extends 'new_motor/new_motor_base.html' %}
{% block title %} Create AC Motor {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
        <a class="btn btn-sm btn-secondary" href="{% url 'create_new_motor' %}">Cancel</a>
    </form>
{% endblock %}