{% extends 'new_motor/new_motor_base.html' %}
{% block title %}Delete new motor{% endblock %}
{% block content %}
    <p> Are you sure you want to delete the motor with article number:
        {{ new_motor.article_no }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-success">Yes</button>
        <button type="button" class="btn btn-sm btn-danger" onclick="location.href={% url 'view_list_new_motors' %}">
            No
        </button>
    </form>
{% endblock %}
