{% extends 'new_motor/new_motor_base.html' %}
{% block title %} New motor detail view {% endblock %}
{% block content %}
    <div class="card" style="width: 18rem;">
        <img src="../../static/images/NewMotor.png" class="card-img-top" alt="No image available!">
        <div class="card-body">
            <h5 class="card-title">{{ old_motor.application_name }}</h5>
            <p class="card-text">Asynchronous motor type: {{ new_motor.article_no }}, low-voltage motor,
                IEC squirrel-cage rotor, self-cooled, temperature class 155(F)
                according to 130(B) {{ new_motor.type_of_construction }} enclosure , rated speed:
                {{ new_motor.rated_speed_50Hz }} * frame size {{ new_motor.frame_size }}
                * {{ new_motor.rated_power_50Hz }} kW
                (50 Hz) 3 AC 50 Hz {{ new_motor.rated_voltage }} * Motor
                efficiency: {{ new_motor.rated_efficiency_50Hz_4_4 }}</p>
            <a href="{% url 'view_list_new_motors' %}" class="btn btn-success">New motor list</a>
        </div>
    </div>
{% endblock %}
