{% extends 'new_motor/new_motor_base.html' %}
{% block title %}List of new motors{% endblock %}
{% block content %}
    <a class="btn btn-sm btn-primary" href="{% url 'create_new_motor' %}">Add new motor</a>
    <table class="table table-hover table-bordered table-striped" style="border: 4px solid white">
        <thead>
        <tr style="color: black">
            <th>
                Motor order code
            </th>

            <th>
                Rated voltage Δ
                [V]
            </th>
            <th>
                Rated voltage Y
                [V]
            </th>

            <th>
                Rated power 50 Hz
                [kW]
            </th>
            <th>
                Rated speed 50Hz
                [rpm]
            </th>
            <th>
                Rated current 50Hz
                [A]
            </th>
            <th>
                Power factor 50Hz
                (cos φ)
            </th>
            <th>
                Type of construction
            </th>
            <th>
                Frame size
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for new_motor in all_new_motors %}
            <tr style="color: black; ">

                <td>
                    <b>
                        {{ new_motor.article_no }}
                    </b>
                </td>

                <td>
                    <b>
                        {{ new_motor.rated_voltage_50Hz_D }}
                    </b>
                </td>
                <td>
                    <b>
                        {{ new_motor.rated_voltage_50Hz_Y }}
                    </b>
                </td>
                <td>
                    <b>
                        {{ new_motor.rated_power_50Hz }}
                    </b>
                </td>
                <td>
                    <b>
                        {{ new_motor.rated_speed_50Hz }}
                    </b>
                </td>
                <td>
                    <b>
                        {{ new_motor.rated_current_50Hz_D }}
                    </b>
                </td>
                <td>
                    <b>
                        {{ new_motor.power_factor_50Hz_4_4 }}
                    </b>
                </td>
                <td>
                    <b>
                        {{ new_motor.type_of_construction }}
                    </b>
                </td>

                <td>
                    <b>
                        {{ new_motor.frame_size }}
                    </b>
                </td>

                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'update_new_motor' new_motor.id %}">Update</a>
                    <a class="btn btn-sm btn-danger" href="{% url 'delete_new_motor' new_motor.id %}">Delete</a>
                    <a class="btn btn-sm btn-warning" style="margin-top: 3px"
                       href="{% url 'detail_new_motor' new_motor.id %}">Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}