<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old motor name tag</title>
    <style>

        #motor_tag {
            width: 495px;
            height: 492px;
            background-image: url("../../static/images/NewMotorTag_Rev11.png");
            position: relative;
            top: 1px;
            left: 240px;
            background-repeat: no-repeat;
        }

        #arrow {
            width: 290px;
            height: 420px;
            background-image: url("../../static/images/Arrow_3.png");
            position: relative;
            top: -120px;
            left: -300px;
            background-repeat: no-repeat;
            background-size: 100%;
        }


    </style>
</head>
<body>
<div class="container" id="motor_tag">
    <form method="post">
        {% csrf_token %}

        {% for motor in compatible_motors %}
            <p type="text" size="20" placeholder="Application name"
               style="position: absolute; top: 48px; left: 50px; font-size: 20px;height: 32px;width: 200px;
               text-align: center;
                       background-color: rgb(181 184 184);border: 3px solid black; font-weight: bold">
                {{ motor.old_motor_app_name }}
            </p>

            <p type="text" size="20" placeholder="Producer"
               style="position: absolute; top: 18px; left: 50px; font-size: 20px;height: 32px;width: 200px;
               text-align: center; color:rgb(0 153 153);
                       background-color: rgb(181 184 184); border: 3px solid black;font-weight: bold">
                {{ motor.producer }}
            </p>

            <p type="text" size="20" placeholder="Producer"
               style="position: absolute; top: 48px; left: 330px; font-size: 20px;height: 32px;width: 50px;
               text-align: center;
                       background-color: rgb(181 184 184); border: 3px solid black;font-weight: bold">
                {{ motor.ie_class }}
            </p>


            <p type="text" size="44" placeholder="Order code..."
               style="position: absolute; top: 372px; left: 153px; font-size: 16px;height: 27px; width: 341px;
               text-align: center;
                       background-color: rgb(181 184 184); border: 3px solid black;font-weight: bold">
                {{ motor.article_no }}
            </p>


            <p type="text" style="position: absolute; top: 209px; left: 1px; font-size: 16px; text-align: center;
            height: 26px; width: 70px; background-color: rgb(181 184 184); border: 3px solid black;
            font-weight: bold;">
                {{ motor.rated_voltage_50Hz_D }}
            </p>

            <p style="position: absolute; top: 232px; left: 1px; font-size: 16px; height: 26px;width: 70px;
            text-align: center; background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_voltage_50Hz_Y }}
            </p>
            <p style="position: absolute; top: 255px; left: 1px; font-size: 16px;text-align: center;
            height: 27px; width: 70px;
                 background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_voltage_60Hz }}
            </p>


            <p style="position: absolute; top: 209px; left: 91px; font-size: 16px;
            height: 26px; width: 70px;text-align: center;
                background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.motor_frequency_50 }}
            </p>


            <p style="position: absolute; top: 232px; left: 91px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.motor_frequency_50 }}

            </p>
            <p style="position: absolute; top: 255px; left: 91px; font-size: 16px;text-align: center;
            height: 27px; width: 70px;
                background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.motor_frequency_60 }}

            </p>


            <p type="text" oninput="dataTypeAlert()" size="3" placeholder="P1 [kW]"
               style="position: absolute; top: 209px; left: 148px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_power_50Hz }}
            </p>
            <p type="text" size="3" placeholder="P1 [kW]"
               style="position: absolute; top: 232px; left: 148px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_power_50Hz }}
            </p>
            <p type="text" size="3" placeholder="P1 [kW]"
               style="position: absolute; top: 255px; left: 148px; font-size: 16px;text-align: center;
            height: 27px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_power_60Hz }}
            </p>

            <p type="text" size="5" placeholder="n1 [rpm]"
               style="position: absolute; top: 209px; left: 205px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_speed_50Hz }}
            </p>
            <p type="text" size="5" placeholder="n2 [rpm]"
               style="position: absolute; top: 232px; left: 205px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_speed_50Hz }}
            </p>
            <p type="text" size="5" placeholder="n3 [rpm]"
               style="position: absolute; top: 255px; left: 205px; font-size: 16px;text-align: center;
            height: 27px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_speed_60Hz }}
            </p>


            <p type="text" name="rated_current_50Hz_Y" size="3" placeholder="I1 [A]"
               style="position: absolute; top: 209px; left: 272px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_current_50Hz_D }}
            </p>
            <p type="text" name="rated_current_50Hz_D1" size="3" placeholder="I2 [A]"
               style="position: absolute; top: 232px; left: 272px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.rated_current_50Hz_Y }}
            </p>
            <p type="text" name="rated_current_60Hz_D2" size="3" placeholder="I3 [A]"
               style="position: absolute; top: 255px; left: 272px; font-size: 16px;text-align: center;
            height: 27px; width: 70px;
                       background-color: rgb(181 184 184);border: 3px solid black; font-weight: bold">
                {{ motor.rated_current_60Hz }}
            </p>
            <p type="text" name="power_factor_50HzY" size="4" placeholder="cos φ"
               style="position: absolute; top: 209px; left: 328px; font-size: 16px;text-align: center;
            height: 26px; width: 63px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.power_factor_50Hz_4_4 }}
            </p>
            <p type="text" name="power_factor_50HzD1" size="4" placeholder="cos φ"
               style="position: absolute; top: 232px; left: 328px; font-size: 16px;text-align: center;
            height: 26px; width: 63px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.power_factor_50Hz_4_4 }}
            </p>
            <p type="text" name="power_factor_60HzD2" size="4" placeholder="cos φ"
               style="position: absolute; top: 255px; left: 328px; font-size: 16px;text-align: center;
            height: 27px; width: 63px;
                       background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.power_factor_60Hz_4_4 }}
            </p>

            <p name="type_of_construction"
               style="position: absolute; top: 396px; left: 82px; font-size: 16px;text-align: center;
            height: 25px; width: 73px;
                        background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.type_of_construction }}
            </p>

            <p name="frame_size"
               style="position: absolute; top: 396px; left: 391px; font-size: 16px;text-align: center;
            height: 26px; width: 103px;
                        background-color: rgb(181 184 184); border: 3px solid black; font-weight: bold">
                {{ motor.frame_size_comp }}

            </p>

            <p name="enclosure_type" style="position: absolute; top: 90px; left: 395px; font-size: 16px;
            height: 25px; width: 100px;text-align: center;
                background-color: rgb(181 184 184); border: 3px solid black; ; font-weight: bold">
                {{ motor.enclosure_type }}

            </p>

            <p name="degree_of_protection"
               style="position: absolute; top: 161px; left: 437px; font-size: 16px;text-align: center;
            height: 26px; width: 58px;
                        background-color: rgb(181 184 184); border: 3px solid black; ; font-weight: bold">
                {{ motor.degree_of_protection }}
            </p>

            <p name="weight"
               style="position: absolute; top: 419px; left: 391px; font-size: 16px;text-align: center;
            height: 26px; width: 70px;
                        background-color: rgb(181 184 184); border: 3px solid black; ; font-weight: bold">
                {{ motor.weight }}
            </p>


        {% endfor %}

        <a class="btn btn-sm btn-warning"
           style="position: absolute;top: 495px;left: 180px"
           href="{% url 'view_list_old_motors' %}"
        >Return to old motor list
        </a>
    </form>

    {% include 'new_motor/new_motor_with_arrow.html' %}
    <div id="arrow">

    </div>

</div>


</body>
</html>