{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>




</head>
<body style="background-image: url('{% static 'images/energyefficiency-1024x839.jpg' %}');
        background-repeat: no-repeat; background-size:100%; background-position: top;
        background-color:darkseagreen; background-position-x: center; background-position-y:55px;
        transition: background 300ms ease-in 100ms;">
{% include 'navbar.html' %}
<div class="container">
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
</body>
</html>