<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">

    <div class="container-fluid">

        {% if request.path == '' %}
            <a class="navbar-brand" href="{% url "login" %}">Home</a>
        {% else %}
            <a class="navbar-brand" href="{% url "login" %}">Home</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    {% if user.is_authenticated is True and user.is_superuser is False %}

            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if request.path == '/create-old-motor/' %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'create_old_motor' %}">
                            Insert old motor</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'create_old_motor' %}">
                            Insert old motor</a>
                    </li>
                {% endif %}
                {% if request.path == '/list-of-old-motors/' %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "view_list_old_motors" %}">
                            Old motor list</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "view_list_old_motors" %}">Old motor list</a>
                    </li>
                {% endif %}
            </ul>
            <span class="navbar-text">
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>
            {% else %}
                <a class="btn btn-sm btn-success" href="{% url 'login' %}">Login</a>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated is True and user.is_superuser is True %}
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                        {% if request.path == '/create-old-motor/' %}
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'create_old_motor' %}">Insert old
                                    motor</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'create_old_motor' %}">Insert old motor</a>
                            </li>
                        {% endif %}
                {% if request.path == '/list-of-old-motors/' %}
                    <li class="nav-item">
                                <a class="nav-link active" href="{% url "view_list_old_motors" %}">Old motor list</a>
                            </li>
                {% else %}
                    <li class="nav-item">
                                <a class="nav-link" href="{% url "view_list_old_motors" %}">Old motor list</a>
                            </li>
                {% endif %}
                {% if request.path == '/create-new_motor/' %}
                    <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="{% url 'create_new_motor' %}">Insert new
                                    motor data</a>
                            </li>
                {% else %}
                    <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'create_new_motor' %}">Insert new motor
                                    data</a>
                            </li>
                {% endif %}
                {% if request.path == '/list-of-new-motors/' %}
                    <li class="nav-item">
                                <a class="nav-link active" href="{% url "view_list_new_motors" %}">New motor list</a>
                            </li>
                {% else %}
                    <li class="nav-item">
                                <a class="nav-link" href="{% url "view_list_new_motors" %}">New motor list</a>
                            </li>
                {% endif %}

                    </ul>
            <span class="navbar-text">
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-primary" href="{% url 'logout' %}">Logout, {{ request.user.username }}</a>
            {% else %}
                <a class="btn btn-sm btn-success" href="{% url 'login' %}">Login</a>
            {% endif %}
        {% endif %}
        </span>
        </div>
</nav>