{% extends 'old_motor/old_motor_base.html' %}
{% block title %}Delete old motor{% endblock %}
{% block content %}
    <p style="margin-top: 20%"> Are you sure you want to delete the
        motor: {{ old_motor.application_name }} {{ old_motor.motor_order_code }} ?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-success">Yes</button>
        <button type="button" class="btn btn-sm btn-danger" onclick="location.href={% url 'view_list_old_motors' %}">
            No
        </button>
    </form>
{% endblock %}