{% extends 'old_motor/old_motor_base.html' %}
{% block title %} Old motor detail view {% endblock %}
{% block content %}
    <div class="card" style="width: 30rem; height: 60rem;opacity: 70%; margin-left: 15%;">
        <img src="../../static/images/OldMotor.png" class="card-img-top" alt="No image available!">
        <div class="card-body">
            <h5 class="card-title">{{ old_motor.application_name }}</h5>
            <p class="card-text">Asynchronous motor type: {{ old_motor.motor_order_code }}, low-voltage motor,
                IEC squirrel-cage rotor, self-cooled, {{ old_motor.degree_of_protection }}, temperature class 155(F)
                according to 130(B) {{ old_motor.enclosure_type }} enclosure , rated speed:
                * frame size {{ old_motor.frame_size }} * {{ old_motor.rated_power_50Hz }} kW (50 Hz)
                3 AC 50 Hz {{ old_motor.rated_voltageD1 }} VD/{{ old_motor.rated_voltageY }} VY *
                {{ old_motor.type_of_construction }}, Motor efficiency: {{ efficiency }}</p>
            <a href="{% url 'view_list_old_motors' %}" class="btn btn-success">Old motor list</a>
        </div>
    </div>

{% endblock %}