{% extends 'old_motor/old_motor_base.html' %}
{% block title %}List of existing motors{% endblock %}
{% block content %}
<a class="btn btn-sm btn-primary" href="{% url 'create_old_motor' %}">Add old motor</a>
<table class="table table-hover table-bordered table-striped" style="border: 4px solid black; margin-left: auto ">
    <thead style="">
    <tr>
        <th>
            App. name
        </th>
        <th>
            Motor producer
        </th>
        <td>
            <b>
                Motor order code
            </b>
        </td>
        <th>
            Rated voltage Y
            [V]
        </th>

        <th>
            Rated voltage Δ
            [V]
        </th>
        <th>
            Rated power 50Hz
            [kW]
        </th>
        <th>
            Rated speed 50Hz
            [rpm]
        </th>
        <th>
            Rated current 50Hz D
            [A]
        </th>
        <th>
            Power factor 50Hz
            (cos φ)
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody style="font-size: larger;">
    {% for old_motor in all_existing_motors %}
        <tr>

        <td>
            <b>
                {{ old_motor.application_name }}
            </b>
        </td>

        <td><b>
            {{ old_motor.motor_producer }}

        </b>
        </td>
        <td>
            <b>
                {{ old_motor.motor_order_code }}
            </b>
        </td>
        <td>
            <b>
                {{ old_motor.rated_voltageY }}
            </b>
        </td>
        <td>
            <b>
                {{ old_motor.rated_voltageD1 }}
            </b>
        </td>
        <td>
            <b>
                {{ old_motor.rated_power_D1 }}
            </b>
        </td>

        <td>
            <b>
                {{ old_motor.rated_speed_50HzD1 }}
            </b>
        </td>

        <td>
            <b>
                {{ old_motor.rated_current_50Hz_D1 }}
            </b>
        </td>
        <td>
            <b>
                {{ old_motor.power_factor_50HzD1 }}
            </b>
        </td>
        <td>
        <a class="btn btn-sm btn-primary" href="{% url 'update_old_motor' old_motor.id %}">Update</a>
        <a class="btn btn-sm btn-danger" href="{% url 'delete_old_motor' old_motor.id %}">Delete</a>
        <a class="btn btn-sm btn-success" style="margin-top: 3px"
           href="{% url 'detail_old_motor' old_motor.id %}">Details</a>
        <a class="btn btn-sm btn-warning" style="margin-top: 3px"
           href="{% url 'show_alternative_new_motor' old_motor.id %}">Alternative Motor</a>

        {% if motor_id_list|length == 0 %}
{#            <p>{{ motor_id_list|length }}</p>#}
            <a class="btn btn-sm btn-success" style="margin-top: 3px;visibility: visible "
               href="{% url 'show_savings_and_commercial_data' old_motor.pk %}">Show savings</a>

        {% else %}

                {% for motor_id in motor_id_list %}
                {% if old_motor.id == motor_id %}
{#                <p>first if</p>#}
                <a class="btn btn-sm btn-success" style="margin-top: 3px;visibility: hidden"
                   href="{% url 'show_savings_and_commercial_data' old_motor.pk %}">Show savings</a>
                <a class="btn btn-sm btn-success" style="visibility: visible"
                   href="{% url 'savings_and_commercial_data' old_motor.id %}">Calculate savings</a>
                    {% endif %}


                {% if old_motor.id != motor_id %}

{#                <p>second if</p>#}

                <a class="btn btn-sm btn-success" style="margin-top: 3px;visibility: visible"
                   href="{% url 'show_savings_and_commercial_data' old_motor.pk %}">Show savings</a>
                <a class="btn btn-sm btn-success" style="visibility: hidden"
                   href="{% url 'savings_and_commercial_data' old_motor.id %}">Calculate savings</a>



        {% endif %}

    {% endfor %}


    {% endif %}

    </td>
    </tr>

    {% endfor %}
    </tbody>

</table>
{% endblock %}