{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <style>

    </style>

</head>

<body id="body_fixed" style="background-image: url('{% static 'images/Old_Motor_Gizah_Pyramids_R00.png' %}');
        background-repeat: no-repeat; background-position: top; background-size: 1100px 800px;
        background-color:rgb(196 163 119); background-position-x: center; background-position-y:56px; position: relative;">

{% include 'navbar.html' %}
{% include 'old_motor/old_motor_name_tag.html' %}

<script src="{% static 'JS/old_motor_script.js' %}"></script>

</body>
</html>