{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old motor name tag</title>
    <style>

        #motor_tag {
            width: 495px;
            height: 492px;
            background-image: url("../../static/images/NewMotorTag_Rev7.png");
            position: relative;
            top: 1px;
            left: 240px;
            background-repeat: no-repeat;

        }

        #arrow {
            width: 290px;
            height: 420px;
            background-image: url("../../static/images/Arrow_2.png");
            position: relative;
            top: -460px;
            left: -300px;
            background-repeat: no-repeat;
            background-size: 100%;
        }


    </style>
</head>
<body>
<div class="container" id="motor_tag">

    <form method="post">
        {% csrf_token %}

        <label>
            <input type="text" name="application_name" size="20" placeholder="Application name"
                   style="position: absolute; top: 15px; left: 50px; font-size: 15px;
                       background-color: rgb(209 187 164);border: 3px solid black; font-weight: bold">
        </label>
        <label>
            <input type="text" name="motor_producer" size="20" placeholder="Producer"
                   style="position: absolute; top: 45px; left: 50px; font-size: 15px;
                       background-color: rgb(209 187 164); border: 3px solid black;font-weight: bold">
        </label>

            <h6 id="alert_message" style=" width: 245px;
                height: 75px;
                background-color:red;
                border-style: solid;
                border-color: black;
                border-radius: 10px;
                margin-left: 29%;
                margin-top: 55%;
                visibility: hidden;
                text-align: center;">
                <b>Only numeric values are allowed for this fields!
                      Press "Enter" to try again
                </b>
            </h6>

        <label>
            <input type="text" name="motor_order_code" size="44" placeholder="Order code..."
                   style="position: absolute; top: 372px; left: 152px; font-size: 12px;
                   height: 27px;
                       background-color: rgb(209 187 164); border: 3px solid black;font-weight: bold; float: right">
        </label>
        <label>
            <select name="rated_voltageY" style="position: absolute; height:25px; top: 209px; left: 1px; font-size: 13px;
                background-color: rgb(209 187 164); border: 3px solid black;font-weight: bold">
                <option value="220">220V</option>
                <option value="230">230V</option>
                <option value="240">240V</option>
                <option value="380">380V</option>
                <option value="400">400V</option>
                <option value="440">440V</option>
                <option value="460">460V</option>
                <option value="500">500V</option>
                <option value="575">575V</option>
                <option value="660">660V</option>
                <option value="690">690V</option>
            </select>

            <select name="rated_voltageD1" style="position: absolute; height:26px; top: 232px; left: 1px; font-size: 13px;
                background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
                <option value="220">220V</option>
                <option value="230">230V</option>
                <option value="240">240V</option>
                <option value="380">380V</option>
                <option value="400">400V</option>
                <option value="440">440V</option>
                <option value="460">460V</option>
                <option value="500">500V</option>
                <option value="575">575V</option>
                <option value="660">660V</option>
                <option value="690">690V</option>
            </select>
            <select name="rated_voltageD2" style="position: absolute; height: 26px; top: 256px; left: 1px; font-size: 13px;
                 background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
                <option value="220">220V</option>
                <option value="230">230V</option>
                <option value="240">240V</option>
                <option value="380">380V</option>
                <option value="400">400V</option>
                <option value="440">440V</option>
                <option value="460">460V</option>
                <option value="500">500V</option>
                <option value="575">575V</option>
                <option value="660">660V</option>
                <option value="690">690V</option>
            </select>
        </label>
        <label>
            <select name="rated_frequencyY" style="position: absolute; top: 209px; left: 91px; font-size: 13px;
                background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
                <option value="50">50Hz</option>
                <option value="60">60Hz</option>
            </select>
            <select name="rated_frequencyD1" style="position: absolute; top: 233px; left: 91px; font-size: 13px;
                background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
                <option value="50">50Hz</option>
                <option value="60">60Hz</option>
            </select>
            <select name="rated_frequencyD2" style="position: absolute; top: 257px; left: 91px; font-size: 13px;
                background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
                <option value="50">50Hz</option>
                <option value="60">60Hz</option>
            </select>
        </label>

        <label id="number">
            <input type="text" class="numeric" name="rated_power_Y" oninput="dataTypeAlert()" size="3"
                   placeholder="P1 [kW]"
                   style="position: absolute; top: 209px; left: 148px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="rated_power_D1" oninput="dataTypeAlert()" size="3"
                   placeholder="P1 [kW]"
                   style="position: absolute; top: 232px; left: 148px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="rated_power_D2" oninput="dataTypeAlert()" size="3"
                   placeholder="P1 [kW]"
                   style="position: absolute; top: 256px; left: 148px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
        </label>

        <label>
            <input type="text" class="numeric" name="rated_speed_50HzY" id="id_speed"
                   oninput="pole_calculator(); dataTypeAlert()" size="5"
                   placeholder="n1 [rpm]"
                   style="position: absolute; top: 208px; left: 204px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="rated_speed_50HzD1" oninput="dataTypeAlert()" size="5"
                   placeholder="n2 [rpm]"
                   style="position: absolute; top: 232px; left: 204px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="rated_speed_60HzD2" oninput="dataTypeAlert()" size="5"
                   placeholder="n3 [rpm]"
                   style="position: absolute; top: 256px; left: 204px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" name="pole_no" id="id_pole" size="5" placeholder="n3 [rpm]"
                   style="position: absolute; top: 320px; left: 204px; font-size: 13px;
                   visibility: hidden;
                   background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
        </label>
        <label>
            <input type="text" class="numeric" name="rated_current_50Hz_Y" oninput="dataTypeAlert()" size="3"
                   placeholder="I1 [A]"
                   style="position: absolute; top: 208px; left: 272px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="rated_current_50Hz_D1" oninput="dataTypeAlert()" size="3"
                   placeholder="I2 [A]"
                   style="position: absolute; top: 232px; left: 272px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="rated_current_60Hz_D2" oninput="dataTypeAlert()" size="3"
                   placeholder="I3 [A]"
                   style="position: absolute; top: 256px; left: 272px; font-size: 13px;
                       background-color: rgb(209 187 164);border: 3px solid black; font-weight: bold">

        </label>

        <label>
            <input type="text" class="numeric" name="power_factor_50HzY" oninput="dataTypeAlert()" size="4"
                   placeholder="cos φ"
                   style="position: absolute; top: 208px; left: 327px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="power_factor_50HzD1" oninput="dataTypeAlert()" size="4"
                   placeholder="cos φ"
                   style="position: absolute; top: 232px; left: 327px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
            <input type="text" class="numeric" name="power_factor_60HzD2" oninput="dataTypeAlert()" size="4"
                   placeholder="cos φ"
                   style="position: absolute; top: 256px; left: 327px; font-size: 13px;
                       background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">

        </label>

        <label>
            <select name="type_of_construction"
                    style="position: absolute; top: 396px; left: 82px; font-size: 13px;
                        background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
                <option value="IM B3">IM B3</option>
                <option value="IM B5">IM B5</option>
                <option value="IM B35">IM B35</option>
                <option value="IM B14">IM B14</option>
            </select>

        </label>

        <label>
            <select name="frame_size"
                    style="position: absolute; top: 397px; left: 392px; font-size: 13px;height: 24px;
                        background-color: rgb(209 187 164); border: 3px solid black; font-weight: bold">
                <option value="71M">71M</option>
                <option value="80M">80M</option>
                <option value="90S">90S</option>
                <option value="90L">90L</option>
                <option value="100L">100L</option>
                <option value="112M">112M</option>
                <option value="132S">132S</option>
                <option value="132M">132M</option>
                <option value="160M">160M</option>
                <option value="160L">160L</option>
                <option value="180M">180M</option>
                <option value="180L">180L</option>
                <option value="200L">200L</option>
                <option value="225S">225S</option>
                <option value="225M">225M</option>
                <option value="250M">250M</option>
                <option value="280S">280S</option>
                <option value="280M">280M</option>
                <option value="315S">315S</option>
                <option value="315M">315M</option>
                <option value="315L">315L</option>

            </select>

        </label>

        <label>
            <select name="enclosure_type" style="position: absolute; top: 18.5%; left: 81%; right: 1%; font-size: 78%;
                background-color: rgb(209 187 164); border: 3px solid black; ; font-weight: bold">
                <option value="Aluminium">Aluminium</option>
                <option value="Cast iron">Cast iron</option>

            </select>


        </label>

        <label>
            <select name="degree_of_protection"
                    style="position: absolute; top: 162px; left: 439px; right: 1px; font-size: 13px;
                        background-color: rgb(209 187 164); border: 3px solid black; ; font-weight: bold">
                <option value="IP54">IP54</option>
                <option value="IP55">IP55</option>
                <option value="IP56">IP56</option>
                <option value="IP65">IP65</option>
                <option value="IP66">IP66</option>
            </select>

        </label>

        <button type="submit" class="btn btn-sm btn-primary"
                style="position: absolute;top: 492px;left: 220px">Save
        </button>
        <a style="position: absolute;top: 492px;left: 270px" class="btn btn-sm btn-secondary"
           href="{% url 'home-page' %}">Cancel</a>

    </form>

    {% include 'old_motor/old_motor_with_arrow.html' %}
    <div id="arrow">

    </div>


</div>


<script
        src="{% static 'JS/pole_no_calculator.js' %}"></script>

<script
        src=" {% static 'JS/old_motor_script.js' %}"></script>


</body>
</html>