<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3> Filtered student </h3>
<p>{{ old_motor_details.type_of_construction }}||{{ old_motor_details.frame_size }}</p>

</body>
</html>