{% extends 'old_motor/old_motor_base.html' %}
{% block title %} Update list of old motors {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-sm btn-primary">Save</button>
    </form>
{% endblock %}