{% extends 'base.html' %}
{% block title %} Create user {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-sm btn-success" type="submit">Create new user</button>
        <a class="btn btn-sm btn-secondary" href="{% url 'login' %}">Cancel</a>
    </form>
{% endblock %}